* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0D0C0C;
    color: #fff;
    overflow-x: hidden;
}

html {
    overflow-x: hidden;
}

.inputBox {
    width: 100%;
    background-color: #141414;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.lightMode .inputBox {
    background-color: #dfdcdc;
}

.inputBox input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
}

.lightMode .inputBox input {
    color: #0b0b0b;
}

.btnBlue {
    background-color: #00AEEF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
}

.btnBlue:hover {
    background-color: #0086b3;
}

.grid {
    display: flex !important;
    flex-wrap: wrap !important;
    gap: 10px;
}

.lightMode {
    background-color: #fff !important;
    color: #000 !important;
}

.lightMode .navbar {
    background-color: #fff;
}

.lightMode .navbar .dropDownNavbar{
    background-color: #f4f0f0;
    color: #000;
}

.lightMode .navbar .dropDownNavbar div{
    border-bottom: 2px solid #000;
}

.lightMode .tabs {
    background-color: #f7f7f7;
}

.lightMode .tabs .tab {
    background-color: #c2c1c1;
    color: #000;
}

.lightMode .btn {
    background-color: #C2C1C1;
    color: #000;
    &:hover{
        background-color: #dfdcdc;
    }
}

.lightMode .listCard {
    background-color: #ebeaeacb;
    &:hover{
        background-color: #c2c1c1;
    }
}

.lightMode .gridCard {
    background-color: #ebeaeacb;
    &:hover{
        background-color: #c2c1c1;
    }
}

.lightMode .createModel{
    background-color: #f0f0f0;
}
.lightMode .createModel .inputBox {
    background-color: #dfdcdc !important;
}
.lightMode .createModel .inputBox input {
    color: #0b0b0b !important;
}

.lightMode .createModel .cancel{
    background-color: #a4a4a4 !important;
    &:hover{
        background-color: #818181 !important;
    }
}